


.details-page {
  height: 450px;

  .details {
    float: left;
    margin-left: 5%;


    .details-list {
      list-style-type: none;
      -webkit-padding-start: 0px;


      li {
        padding: 10px;
      }
    }
  }
  .minimap {
    float: right;
    .angular-google-map-container { height: 400px; width: 300px}
  }

}